certifi==2020.12.5
chardet==4.0.0
click==7.1.2
coverage==5.5
dataclasses-json==0.5.2
decorator==4.4.2
deprecation==2.1.0
eyed3==0.9.6
filetype==1.0.7
Flask==1.1.2
Flask-Cors==3.0.10
Flask-PyMongo==2.3.0
gensim==3.8.3
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.3
isodate==0.6.0
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==1.0.1
Js2Py==0.70
MarkupSafe==1.1.1
marshmallow==3.10.0
marshmallow-enum==1.5.1
moviepy==1.0.3
mypy-extensions==0.4.3
nltk==3.5
numpy==1.20.1
oauthlib==3.1.0
packaging==20.9
Pillow==8.1.2
proglog==0.1.9
pyjsparser==2.7.1
pymongo==3.11.3
pyparsing==2.4.7
python-slugify==4.0.1
python-youtube==0.7.0
pytz==2021.1
rake-nltk==1.0.4
regex==2021.3.17
requests==2.25.1
requests-oauthlib==1.3.0
scipy==1.6.2
six==1.15.0
slugify==0.0.1
smart-open==4.2.0
stringcase==1.2.0
text-unidecode==1.3
toml==0.10.2
tqdm==4.59.0
tube-dl==5.1.0
typing-extensions==3.7.4.3
typing-inspect==0.6.0
tzlocal==2.1
urllib3==1.26.4
Werkzeug==1.0.1
youtube-dl==2021.3.25
