<% extends "app.html" %>

<% block content %>

<div class="container-lg">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div style="padding-left: 30px">
        <div class="px-3 pb-md-4 mx-auto text-center">
          <h1>[[title]]</h1>
        </div>
        <div class="row">
        	<% for content in contents %>
        	<div class="col-4">
	        	<div class="card mb-4">
              <a href="/content/[[content.slug or 'lecture']]/[[content._id]]">
                <img class="card-img-top" src="https://img.youtube.com/vi/[[content.youtubeId]]/hqdefault.jpg">
  		          <div class="card-body">
  		            <h6 class="card-title">
  		            	[[content.title]]
  		            </h6>
  		            <p class="card-text">[[content.description | truncate(150)]]</p>
  		          </div>
              </a>
		        </div>
	       	</div>
	       	<% endfor %>
	       </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% endblock %>